.header
{
    position: block;
    vertical-align: top;
    width: 100%;
    margin: 0%;

}



.nav-container
{
    display: fixed;
    width: 60%;
    padding: 0.1% 0%;
    margin: 0.4% auto;
    text-align: left;
}

.nav-wrapper
{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
   flex-direction: row;
    -webkit-align-items: center;
   align-items: center;
    -webkit-justify-content: flex-start;
   justify-content: flex-start;
    width: 100%
}


.logo-container
{
    display: flex;
    position: relative;
    vertical-align: middle;
    flex: 1 0 0;
}

.logo
{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
   flex-direction: row;
    -webkit-align-items: center;
   align-items: center;
    -webkit-justify-content: flex-start;
   justify-content: flex-start;
    width: 100%
}

.logo-pic
{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    background-image: url(logo.png);
    background-size: 50px 50px;
}


.logo-text
{
    position: relative;
    color: white;
    font-family: sans-serif;
    vertical-align: middle;
    padding-left: 5%;
    font-size: 25px;
}

.header-navigation-list-container
{
    
    position: relative;
    vertical-align: middle;
    flex: 1 0 0;
    
}

.header-navigation-list
{
    display: table;
    position: relative;
    list-style-type: none;

}

.header-navigation-list li
{
    display: table-cell;
    padding: 0em 3em;
    vertical-align: middle;
    text-align: center;

}

.header-navigation-links
{
    display: block;
    width: 100%;
    color: white;
    font-family: sans-serif;
    vertical-align: middle;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    transition: color 0.7s ease;
}

.header-navigation-list li a:hover
{
    color: #AAAAAA;
}

.search-button
{
    position: relative;
    width: 22px;
}

.dropdown
{
    position: relative;
    display: inline-block
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #202020;
    min-width: 180px;
    z-index: 1;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.header-sub-menu-navigation-links
{
    display: block;
    width: 100%;
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding: 5% 10%;
}
